.scene {
    display: inline-block;
    width: 280px;
    height: 300px;
    /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 600px;
    }

    .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    }

    .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
    }

    .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    /*line-height: 260px;*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    }

    .card__face--front {
        background-color:pink;
        font-size: 20px;
        font-family: cursive;
        border-radius: 20px;
        padding-top: 20px;
    }

    .card__face--back {
    background-color: grey;
    transform: rotateY(180deg);
    font-size: 20px;
    font-family: cursive;
    border-radius: 20px;
    line-height: 260px;
    }

    .flip-card {
        background-color: transparent;
        width: 280px;
        height: 200px;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        color: black;
        transform: rotateY(180deg);
      }